@use './_mixins.scss' as *;
// @use './_text.scss' as *;
.navigation{
    @include DropShadow_Z400;

    padding: 24px 24px 16px 32px;
    width: 100%;
    background: rgba(255,255,255,0.64);
    backdrop-filter: blur(12px);
    position: sticky;
    top:0;
    z-index: 20;

    .nav-links{
        a{
            color:#5C5C5C;
            font-weight: 500;
            text-decoration: none;
        }
        .active{
            font-weight: 600;
            color: #3764FF;
        }
    }
}
.mainContainer{
    display: flex;
    flex-direction: column;
    flex:1;
}
.dataContainer{
    margin: 0 auto;
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: clamp(550px, 50%, 800px);
    .bio{
        margin-top: 16px;
    }
    .task{
        width: 90%;
        margin-top: 12px;
        span{
            background: linear-gradient(315deg, #5041FF 0%, #00B2FF 100%);
            background-clip: text;
            color: transparent;
            font-weight: 600;
        }
    }
    .Track-inp-form{
        margin-top: 24px;
        width: 100%;
        display:flex;
        gap: 24px;
        align-items: center;
        justify-content:center;
        margin-bottom: 40px;
        input{
            width: 450px;
        }       
    }
}
.WaveLog-Container{
    flex:1;
    background: #EDEDF2;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 24px 0;
    padding-bottom: 32px;
    box-shadow: 0 -44px 0 0 #EDEDF2;
}
